<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Actionneurs disponibles</li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">Actionneurs disponibles </h2>
  </div>
  <div class="content">
    <form #f="ngForm">
      
      <button (click)="search()" [disabled]="!f?.valid" class="btn btn-primary">Rechercher</button>
      <a [routerLink]="['../actionneurs', 'new' ]" class="btn btn-default">Nouveau</a>
    </form>
  </div>
</div>
<div class="card" *ngIf="actionneurList.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">Nom </th>
          <th class="border-top-0" scope="col">Element </th>
          <th class="border-top-0" scope="col">Description</th>
          <th class="border-top-0" scope="col">Effectif</th>
          <th class="border-top-0" scope="col">Etat du l'actionneur</th>
          <th class="border-top-0" scope="col" style="width:120px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of actionneurList" [class.active]="item === selectedActionneur">
        
          <td>{{item._id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.type_grandeur}}</td>
          <td>{{item.description}}</td>
          <td>{{item.effectif}}</td>
          <td>{{item.statut}}</td>
          <td style="white-space: nowrap">
            <a [routerLink]="['../actionneurs', item._id ]" class="btn btn-secondary">Modifier</a>&nbsp;
            <button (click)="delete(item)" class="btn btn-danger">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
