<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img" style="width:100%">
        <img src="../../assets/farmdroid.png" style="width:90%; padding:10px" alt="">
      </div>
      
    </a>
  </div>
  <ul class="nav">
    <li>
      <a routerLink="home">
        <i class="ti-dashboard"></i>
        <p>Tableau de bord</p>
      </a>
    </li>

    <li>
      <a routerLink="capteurs">
        <i class="ti-paint-roller"></i>
        <p>Capteurs</p>
      </a>
    </li>

    <li>
      <a routerLink="actionneurs">
        <i class="ti-paint-bucket"></i>
        <p>Actionneurs</p>
      </a>
    </li>

    <li>
      <a routerLink="especes">
        <i class="ti-receipt"></i>
        <p>Gestion des espèces</p>
      </a>
    </li>

    
    <li>
      <a routerLink="parcelles">
        <i class="ti-blackboard"></i>
        <p>Gestion des Plants</p>
      </a>
    </li>

    <li>
      <a routerLink="mesures">
          <i class="ti-ruler"></i>
          <p>Mesures</p>

      </a>


    </li>



    <li>
        <a routerLink="planCapteurs">
            <i class="ti-ruler"></i>
            <p>Plannification de  capteurs</p>
  
        </a>
  
  
      </li>
  


  </ul>
</div>
